name: tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build docker image
        run: ./scripts/docker-ci-build-image.sh
      - name: Docker tests
        run: ./scripts/docker-ci-test.sh
